<div class="project-card">
    <div class="project-card__info">
        <div class="project-card__number">@((ProjectNo + 1).ToString("D2"))</div>

        <h2 class="project-card__title">@_title</h2>
        <p class="project-card__description">@_description</p>
        <p class="project-card__tech">@string.Join(", ", _technologies)</p>

        <div class="project-card__buttons">
            @if (_liveLink is not null)
            {
                <a class="project-card__button" href="@_liveLink.Link" target="_blank" rel="noopener noreferrer">
                    Launch
                </a>

                <div class="project-card__live-button-divider" />
            }

            @foreach (LinkInfo link in _otherLinks)
            {
                <a class="project-card__button" href="@link.Link" target="_blank" rel="noopener noreferrer">
                    @link.Title
                </a>
            }
        </div>
    </div>

    <div class="project-card__media">
        <img class="project-card__image" id="@_projectImageId" alt="@_title" />

        <div class="project-card__nav">
            <button @onclick="Previous" disabled="@IsFirst" class="project-card__nav-button">
                <div class="project-card__nav-button-icon project-card__nav-button-icon--left" />
            </button>
            <button @onclick="Next" disabled="@IsLast" class="project-card__nav-button">
                <div class="project-card__nav-button-icon project-card__nav-button-icon--right" />
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public ProjectInfo ProjectInfo { get; set; } = new();
    [Parameter] public int ProjectNo { get; set; }
    [Parameter] public int TotalProjects { get; set; }

    [Parameter] public EventCallback<int> ProjectNoChanged { get; set; }

    [Inject] private IJSRuntime JS { get; set; } = null!;

    private string _projectImageId = $"project-card__image--{Guid.NewGuid():N}";
    private string? _lastImageUrl;

    private string _title => ProjectInfo.Title;
    private string _description => ProjectInfo.Description;
    private List<string> _technologies => ProjectInfo.Technologies ?? new();
    private string _imageUrl => ProjectInfo.ImageUrl;
    private LinkInfo? _liveLink => ProjectInfo.LiveLink;
    private List<LinkInfo> _otherLinks => ProjectInfo.OtherLinks ?? new();
    private bool IsFirst => ProjectNo == 0;
    private bool IsLast => ProjectNo == TotalProjects - 1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_imageUrl != _lastImageUrl)
        {
            _lastImageUrl = _imageUrl;

            await JS.InvokeVoidAsync("imageLoader.applyImgSrcWithFallback", new ImageLoaderOptions
            {
                ElementId = _projectImageId,
                ImageUrl = _imageUrl,
                FallbackUrl = "images/no-image.svg",
                UseVariable = false
            });
        }
    }

    private async Task Previous()
    {
        if (!IsFirst)
        {
            await ProjectNoChanged.InvokeAsync(ProjectNo - 1);
        }
    }

    private async Task Next()
    {
        if (!IsLast)
        {
            await ProjectNoChanged.InvokeAsync(ProjectNo + 1);
        }
    }
}
