<div class="mobile-sidebar @(IsOpened ? "open" : "")">
    <button class="close-btn" @onclick="CloseMenu">✕</button>

    <div class="sidebar-content">
        <div class="sidebar-links">
            @foreach (NavLinkItemData item in AppLayoutData.NavigationLinkItems)
            {
                <NavLinkItem DisplayText="@item.DisplayText"
                    TargetUrl="@item.GetFormattedTargetUrl(TargetUrlFormat.HashPrefix)" CssClassName="@item.CssClassName"
                    OnClickHandler="CloseMenu" />
            }
        </div>

        <div class="sidebar-contact">
            <NavLinkItem DisplayText="@AppLayoutData.ContactNavigationLink.DisplayText"
                TargetUrl="@AppLayoutData.ContactNavigationLink.GetFormattedTargetUrl(TargetUrlFormat.HashPrefix)"
                CssClassName="@AppLayoutData.ContactNavigationLink.CssClassName" OnClickHandler="CloseMenu" />
        </div>
    </div>
</div>

@if (IsOpened)
{
    <div class="sidebar-overlay" @onclick="CloseMenu"></div>
}

@code {
    [Parameter, EditorRequired] public bool IsOpened { get; set; } = false;
    [Parameter] public EventCallback OnClose { get; set; }
    public Task CloseMenu() => OnClose.InvokeAsync();
}
