<div class="experience-section">
    <h2 class="experience-section__heading">My experience</h2>
    <p class="experience-section__description">@_description</p>

    <div class="experience-section__grid">
        @foreach (InfoCardModel cardData in _adaptedExperienceCards)
        {
            <InfoCard InfoCardData="@cardData" OnReadMoreClicked="@(() => ShowModal(cardData))" />
        }
    </div>
</div>

<Modal IsVisible="@showModal" IsVisibleChanged="@(value => showModal = value)">
    @if (selectedCard is not null)
    {
        <InfoCard InfoCardData="@selectedCard" ForceExpanded="true" />
    }
</Modal>


@code {
    [Inject] private AppContent? AppContent { get; set; }

    private List<InfoCardModel> _adaptedExperienceCards = [];
    private InfoCardModel? selectedCard = null;
    private bool showModal = false;

    private string _description => AppContent?.Layout?.ExperienceSectionBody ?? string.Empty;
    private List<InfoEventBase> _experienceCards => AppContent?.User?.ExperienceEvents ?? [];

    protected override void OnParametersSet()
    {
        _adaptedExperienceCards = InfoCardAdapterResolver.AdaptList(_experienceCards);
    }

    private void ShowModal(InfoCardModel card)
    {
        selectedCard = card;
        showModal = true;
    }
}
