@inherits LayoutComponentBase

<PageTitle>My Portfolio</PageTitle>

<div class="page">
	<main>
		<div class="nav-bar">
			<NavMenu />
		</div>

		<Home />

		<section id="@AppLayoutData.NavigationLinkItems[0].GetFormattedTargetUrl(TargetUrlFormat.Plain)">
			About Me
			<AboutMe />
		</section>

		<section id="@AppLayoutData.NavigationLinkItems[1].GetFormattedTargetUrl(TargetUrlFormat.Plain)">
			Skills
			<Home />
		</section>

		<section id="@AppLayoutData.NavigationLinkItems[2].GetFormattedTargetUrl(TargetUrlFormat.Plain)">
			Projects
			<Home />
		</section>

		<section id="@AppLayoutData.NavigationLinkItems[3].GetFormattedTargetUrl(TargetUrlFormat.Plain)">
			Resume
			<Home />
		</section>

		<section id="@AppLayoutData.ContactNavigationLink.GetFormattedTargetUrl(TargetUrlFormat.Plain)">
			Contact Me
			<Home />
		</section>
	</main>
</div>
