@inherits LayoutComponentBase

<PageTitle>My Portfolio</PageTitle>

<div class="page">
	<main>
		<div class="page__nav-bar">
			<NavMenu />
		</div>

		<section id="home">
			<Home />
		</section>

		<section id="@NavigationLinks[0]">
			<AboutMe />
		</section>

		<section id="@NavigationLinks[1]">
			Skills
			<Home />
		</section>

		<section id="@NavigationLinks[2]">
			Projects
			<Home />
		</section>

		<section id="@NavigationLinks[3]">
			Resume
			<Home />
		</section>

		<section id="@NavigationLinks[4]">
			Contact Me
			<Home />
		</section>
	</main>
</div>

@code {
	public List<string> NavigationLinks { get; set; } = [];

	protected override void OnInitialized()
	{
		foreach (NavigationLinkItemInfo link in AppLayoutData.NavigationLinks)
		{
			NavigationLinks.Add(NavigationUrlFormatter.GetFormattedSanitizedTargetUrl(link.RawTargetUrl));
		}

		NavigationLinks.Add(NavigationUrlFormatter.GetFormattedSanitizedTargetUrl(AppLayoutData.ContactLink.RawTargetUrl));
	}
}