<div class="about-me">
    <div class="about-me__content">
        <div class="about-me__profile">
            <img class="about-me__profile-img" src="@AppLayoutData.ProfileImageUrl"
                alt="@AppLayoutData.ProfileImageAltText" />

            <div class="about-me__social-icons">
                @foreach (var icon in AppLayoutData.SocialMediaIcons)
                {
                    <a class="about-me__social-link" href="@icon.ProfilePageUrl" target="_blank" rel="noopener noreferrer"
                        title="@icon.PlatformName">
                        <img class="about-me__social-icon" src="@icon.IconImageUrl" alt="@icon.IconAltText" />
                    </a>
                }
            </div>
        </div>

        <div class="about-me__details">
            <h3 class="about-me__title">@AppLayoutData.AboutMeSectionTitle</h3>
            <p class="about-me__description">@AppLayoutData.AboutMeSectionDescription</p>
        </div>
    </div>
</div>
