<div class="hero">
	<img class="hero__background" src="images/backdrop.jpg" alt="Backdrop" />

	<div class="hero__overlay">
		<div class="hero__content">
			<h1 class="hero__title">
				@HomePageContentInfo.MainTitle
				<span class="hero__title --highlight">@HomePageContentInfo.HighlightedTitlePart</span>
			</h1>

			<p class="hero__description">
				@HomePageContentInfo.DescriptionBody
			</p>

			<div class="hero__buttons">
				<div class="hero__button">
					<NavLinkItem NavigationLinkInfo="@AppLayoutData.ContactLinkAccent"
						LinkType="@TargetUrlFormat.HashPrefix" />
				</div>

				<div class="hero__button">
					<NavLinkItem NavigationLinkInfo="@AppLayoutData.ProjectsLink"
						LinkType="@TargetUrlFormat.HashPrefix" />
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	public HomePageContentInfo HomePageContentInfo { get; set; } = new();

	protected override void OnInitialized()
	{
		HomePageContentInfo = AppLayoutData.HomePageContent;
	}
}
