<div class="hero-section">
	<img src="Images/backdrop.jpg" alt="Backdrop" class="background-image" />

	<div class="hero-overlay">
		<div class="hero-content">
			<h1 class="hero-title">@AppLayoutData.HomePageData.MainTitle<span
					class="highlight">@AppLayoutData.HomePageData.HighlightedTitlePart</span></h1>
			<p class="intro-text">
				@AppLayoutData.HomePageData.DescriptionBody
			</p>

			<div class="button-group">
				<div class="button-wrapper">
					<NavLinkItem DisplayText="@AppLayoutData.ContactNavigationLinkAccent.DisplayText"
						TargetUrl="@AppLayoutData.ContactNavigationLinkAccent.GetFormattedTargetUrl(TargetUrlFormat.HashPrefix)"
						CssClassName="@AppLayoutData.ContactNavigationLinkAccent.CssClassName" />
				</div>
				<div class="button-wrapper">
					<NavLinkItem DisplayText="@AppLayoutData.CheckProjectsNavigationLink.DisplayText"
						TargetUrl="@AppLayoutData.CheckProjectsNavigationLink.GetFormattedTargetUrl(TargetUrlFormat.HashPrefix)"
						CssClassName="@AppLayoutData.CheckProjectsNavigationLink.CssClassName" />
				</div>
			</div>
		</div>
	</div>
</div>
