@page "/"

<div class="hero">
	<div class="hero__background" />

	<div class="hero__overlay">
		<div class="hero__content">
			<h1 class="hero__title">
				@HomePageContentInfo.MainTitle
				<span class="hero__title --highlight">@HomePageContentInfo.HighlightedTitlePart</span>
			</h1>

			<p class="hero__description">
				@HomePageContentInfo.DescriptionBody
			</p>

			<div class="hero__buttons">
				<div class="hero__button">
					<NavLinkItem NavigationLinkInfo="@AppContent.Layout.ContactMeLinkAccent"
						LinkType="@TargetUrlFormat.HashPrefix" />
				</div>

				<div class="hero__button">
					<NavLinkItem NavigationLinkInfo="@AppContent.Layout.CheckMyProjectsLink"
						LinkType="@TargetUrlFormat.HashPrefix" />
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	public HomePageContentInfo HomePageContentInfo { get; set; } = new();

	[Inject] private AppContent AppContent { get; set; } = null!;

	protected override void OnInitialized()
	{
		HomePageContentInfo = AppContent.Layout.HomePageContent;
	}
}
